* {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

nav .navbar .logo {
    width: 70px;
}

/* login & register section */

nav .navbar .login ul {
    display: flex;
    list-style: none;
    align-items: center;

}

nav .navbar .login ul li {
padding: 0 14px;
}

nav .navbar .login ul li a {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    font-size: 12px;
}

nav .navbar .login ul li .btn {
    padding: 0.6rem 1.1rem;;
    border-radius: 13px;
    font-size: 12px;
    color: hsl(0, 0%, 41%);
    border-color: hsl(0, 0%, 41%);
    background-color: #fff;
    cursor: pointer;
}

nav .navbar .login ul li .btn:hover {
    color: black;
    border-color: black;
    font-weight: 700;
}

nav .navbar .login ul li a:hover {
    color: black;
    font-weight: 700;
}



/* login & register section end */

nav .navbar .nav-links {
    height: 100%;
    width: 90%;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
}

nav .navbar .nav-links .links {
    display: flex;
    margin-right: auto;
}

nav .navbar .nav-links .links li {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 14px;
    white-space: nowrap;
}

nav .navbar .nav-links .links li a {
    height: 100%;
    white-space: nowrap;
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

nav .navbar .nav-links .links li .arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    line-height: 70px;
    color: hsl(0, 0%, 41%);
    transition: all 0.3s ease;
}



nav .navbar .nav-links .links li:hover .featurescss-arrow,
nav .navbar .nav-links .links li:hover .companycss-arrow {
    transform: rotate(180deg);
}

.navbar .nav-links .links .sub-menu {
    position: absolute;
    top: 70px;
    left: 0px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 1rem;
}



.navbar .nav-links .links .sub-menu li a {
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    font-size: 12px;

}


nav .navbar .nav-links .links li:hover .featurescss-sub-menu,
nav .navbar .nav-links .links li:hover .companycss-sub-menu {
    display: block;
}


nav .navbar .nav-links .links li a:hover {
    color: black;
    font-weight: 700;
}

/* align sub-menu */

nav .navbar .nav-links .links  .featurescss-sub-menu {
    left: -60%;
}

nav .navbar .nav-links .links  .companycss-sub-menu {
    left: 10%;
}


.navbar .bx-menu,
.nav-links .sidebar-logo .bx-x {
    display: none;
}

.bxs-time-five,
.bxs-bell,
.bxs-calendar-event,
.bxs-calendar-week {
    font-size: 14px;
    margin-right: 0.5rem;
}

.bxs-calendar-week{
    color: hsl(242, 42%, 51%);
}

.bxs-calendar-event {
    color: hsl(187, 100%, 40%);
}

.bxs-bell {
    color:hsl(56, 100%, 50%);

}
.bxs-time-five {
    color: purple;

}








/* main container */


.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    max-width: 1250px;
    margin: auto;
}

.container > * {
    width: 100%;
    padding: 2.5rem 5rem 5rem;
}


.container .text-split {
    padding-left: 9rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}

.container .image-split img {
    width: 100%;
}

.container .text-split h1 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 5.5rem;
    margin-bottom: 2.5rem;
}

.container .text-split p {
    font-size: 14px;
    color: hsl(0, 0%, 41%);
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

.container .text-split button {
    padding: 0.9rem  1.2rem;
    border-radius: 13px;
    border-style: none;
    color: #fff;
    background-color: black;
    margin-right: auto;
    cursor: pointer;
}

.container .text-split .logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    
}

.container .text-split .logos > * {
    width: 70px;
}

.container .text-split button:hover {
    background-color: #fff;
    color: black;
    border-style: solid;
    font-weight: 700;
}

.mobile {
    display: none;
}





@media (max-width: 954px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a {
        font-size: 1.8rem;
    }

    nav .navbar .nav-links .links li a {
        font-size: 15;
    }


}



@media (max-width: 800px) {

    nav .navbar {
        width: 100%;
    }

    nav .navbar .nav-links {
        display: block;
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 270px;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;
        z-index: 100;
        left: auto;
    }

    nav .navbar .nav-links .links {
        display: block;
        margin-top: 20px;
    }

    .navbar .bx-menu,
    .nav-links .sidebar-logo .bx-x {
        color: black;
        font-size: 3rem;
    }

    .navbar .bx-menu {
        display: block;
        margin-left: auto;
    }

    .nav-links .sidebar-logo .bx-x {
        display: flex;
        justify-content: flex-end;
    }

    nav .navbar .nav-links .links li {
        display: block;

    }

    .navbar .nav-links .links .sub-menu {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
    }

    nav .navbar .nav-links .links li:hover .featurescss-sub-menu,
    nav .navbar .nav-links .links li:hover .companycss-sub-menu {
        display: none;
    }

    nav .navbar .nav-links .links li .arrow {
        line-height: 40px;
    }

    nav .navbar .nav-links .links li:hover .featurescss-arrow,
    nav .navbar .nav-links .links li:hover .companycss-arrow {
        transform: rotate(0deg);
    }

    .navbar .nav-links.show1 .links .sub-menu.featurescss-sub-menu {
        display: block;
    }

    .navbar .nav-links.show2 .links .sub-menu.companycss-sub-menu {
        display: block;
    }

    nav .navbar .nav-links.show1 .links li .featurescss-arrow,
    nav .navbar .nav-links.show2 .links li .companycss-arrow {
        transform: rotate(180deg);
    }

    nav .navbar .nav-links .links  .featurescss-sub-menu,
    nav .navbar .nav-links .links  .companycss-sub-menu {
        left: 0;
    }

    nav .navbar .login ul {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    
    }

    nav .navbar .login ul li .btn {
        padding: 0.8rem 5.5rem;
    }


    /* Main Container */


    .container {
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        margin-bottom: 2rem;
    }

    .container .image-split {
        padding: 0;
    }

 


    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .container .text-split {
        padding: 1rem;
        text-align: center;
    }

    .container .text-split h1{
        font-size: 2.2rem;
        padding: 0;
        margin-top: 2.2rem;
        margin-bottom: 1.8rem;
    }

    .container .text-split p{
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .container .text-split button {
        margin: auto auto 3rem;
    }

    .container .text-split .logos > * {
        width: 60px;
    }
    
}

@media (max-width: 370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    } 
}

.attribution {
    font-size: 10px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}