* {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: black;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

nav .navbar .logo a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

/* login & register section */

nav .navbar .login ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav .navbar .login ul li {
padding: 0 14px;
}

nav .navbar .login ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav .navbar .login ul li .btn {
    padding: 0.6rem 1.1rem;;
    border-radius: 13px;
    font-size: 16px;
}


/* login & register section end */

nav .navbar .nav-links {
    height: 100%;
    line-height: 70px;
}

nav .navbar .nav-links .links {
    display: flex;
}

nav .navbar .nav-links .links li {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 14px;
    white-space: nowrap;
}

nav .navbar .nav-links .links li a {
    height: 100%;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

nav .navbar .nav-links .links li .arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    line-height: 70px;
    color: #fff;
    transition: all 0.3s ease;
}

nav .navbar .nav-links .links li:hover .featurescss-arrow,
nav .navbar .nav-links .links li:hover .companycss-arrow {
    transform: rotate(180deg);
}

.navbar .nav-links .links .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}

.navbar .nav-links .links .sub-menu li {
    padding: 0 22px;
}

.navbar .nav-links .links .sub-menu li a {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    ;
}

nav .navbar .nav-links .links li:hover .featurescss-sub-menu,
nav .navbar .nav-links .links li:hover .companycss-sub-menu {
    display: block;
}

.navbar .bx-menu,
.nav-links .sidebar-logo .bx-x {
    display: none;
}

@media (max-width: 954px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a {
        font-size: 1.8rem;
    }

    nav .navbar .nav-links .links li a {
        font-size: 15;
    }

}



@media (max-width: 800px) {
    nav .navbar .nav-links {
        display: block;
        position: fixed;
        background-color: black;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 270px;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;
        z-index: 100;
    }

    nav .navbar .nav-links .links {
        display: block;
        margin-top: 20px;
    }

    .navbar .bx-menu,
    .nav-links .sidebar-logo .bx-x {
        color: #fff;
        font-size: 3rem;
    }

    .navbar .bx-menu {
        display: block
    }

    .nav-links .sidebar-logo .bx-x {
        display: flex;
        justify-content: flex-end;
    }

    nav .navbar .nav-links .links li {
        display: block;

    }

    .navbar .nav-links .links .sub-menu {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
    }

    nav .navbar .nav-links .links li:hover .featurescss-sub-menu,
    nav .navbar .nav-links .links li:hover .companycss-sub-menu {
        display: none;
    }

    nav .navbar .nav-links .links li .arrow {
        line-height: 40px;
    }

    nav .navbar .nav-links .links li:hover .featurescss-arrow,
    nav .navbar .nav-links .links li:hover .companycss-arrow {
        transform: rotate(0deg);
    }

    .navbar .nav-links.show1 .links .sub-menu.featurescss-sub-menu {
        display: block;
    }

    .navbar .nav-links.show2 .links .sub-menu.companycss-sub-menu {
        display: block;
    }

    nav .navbar .nav-links.show1 .links li .featurescss-arrow,
    nav .navbar .nav-links.show2 .links li .companycss-arrow {
        transform: rotate(180deg);
    }

}

@media (max-width: 370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    } 
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}